
.page{
    width: 100%;
    min-height: 110vh;
    
}
#historical-rate{
    margin-top:-100px;
    
   background-color: rgb(231, 231, 231);
   min-height: 110vh;
   
}
#update-rate{
   
    
    min-height: 110vh;
}
