<mat-toolbar color="primary">
    <span>
        <img src="../../assets/img/logo.png" style="padding-left:2vh;" width="100" height="30">
    </span>

    <span class="fill-remaining-space"></span>
    <button mat-button>Home</button>
    <button mat-button>Reservation</button>
    <a [routerLink]="['/Log']" id="login"><i style="color: rgb(0, 248, 248);" class="fa fa-address-book-o">Login</i></a>
</mat-toolbar>

<!--<body>
  <mat-toolbar class="main-navigation-bar container">
    <mat-toolbar-row>
      <img src="../../assets/img/logo.png" width="100" height="30">
      <ul style="width: 90%;">
        <li><a [routerLink]="['/profile']" id="myprofile"><i style="color: rgb(0, 248, 248);">My Profile</i></a></li>
        <li><a href="#" id="about">About</a></li>
        <li><a href="#" id="contact">Contact</a></li>
        <li><a href="#" id="news">News</a></li>
        <li><a href="#" id="home">Home</a></li>
        <li><a id="username"><i style="color: rgb(0, 248, 248);" class="fa fa-user-circle-o"> UserName</i></a></li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="grid-container">
    <div class="grid-item" style="grid-column:2/span 1;"><br><br>
      <h1>User Profile</h1>
    </div>

    <div class="grid-item" style="grid-column:2/span 3;">
      <hr>
      <h1 style="font-size:30px;">My Profile</h1>
    </div>

    <div class="grid-item" style="grid-column:2/span 1;">
      <p>Name : Chantardsak Usaha</p>
    </div>

    <div class="grid-item" style="grid-column:3/span 2;">
      <p>Gender : Male</p>
    </div>

    <div class="grid-item" style="grid-column:2/span 1;">
      <p>Email : Chantardsak@gmail.com</p>
    </div>

    <div class="grid-item" style="grid-column:3/span 2;">
      <p>Country : Thailand</p>
    </div>

    <div class="grid-item" style="grid-column:2/span 3;">
      <h1 style="font-size:30px;">Passport</h1>
    </div>

    <div class="grid-item" style="grid-column:2/span 3;">
      <p>Passport Number : XXXXXXX</p>
    </div>

    <div class="grid-item" style="grid-column:2/span 3;">
      <p>Expiration date : 8/10/2020</p>
      <br>
      <hr>
      <br>
    </div>

    <div class="grid-item" style="grid-column:2/span 3;"><button mat-button class="botton" [routerLink]="['/editpro']">Edit
        Profile</button>
    </div>

  </div>
</body>-->